
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    background: linear-gradient(#16a6d2 30%, #2a24e3 120%);
    padding: 0;
    margin: 0; 
}

.Game-Menu-Container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    position: relative;

}

.Game-Menu {
    position: absolute;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 67px;
    text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.966);
    color: #d2c216;
    top: 4%;
    left: 35%;
    position: absolute;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 21px;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.966);
    color: #d2c216;
    top: 12.7%;
    left: 42%;
    position: absolute;

}

.Game1-btn {
    background-color: #2EAE20;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 38%;
    left: 50%;
    padding: 20px 150px;
    font-size: 30px;
    cursor: pointer;
}

.Game2-btn {
    background-color: #2EAE20;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 150px;
    font-size: 30px;
    cursor: pointer;
} 

.Game3-btn {
    background-color: #2EAE20;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 50%;
    padding: 20px 150px;
    font-size: 30px;
    cursor: pointer;
}

.Options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    position: absolute;
}

.SignUp-btn{
    background-color: #2EAE20;
    top: 69%;
    left: 50%;
    margin-right: 1%;
    padding: 20px 120px;
    position: fixed;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

.SignIn-btn{
    background-color: #2EAE20;
    top: 69%;
    right: 50%;
    margin-left: 1%;
    padding: 20px 120px;
    position: fixed;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;

}