<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HomePage.css">
    <title>Game Pod</title>
</head>
<body>
    <img src="" href=""> <!-- inserting our custom logo-->
        <h2>First Edition</h2>
            <div class="Game-Menu-Container">
                <div class="Game-Menu"> 
                    <button class="Game1-btn">game 1</button>
                    <button class="Game2-btn">game 2</button>
                    <button class="Game3-btn">Game 3</button>
                </div>
                <div class="Options">
                    <button class="SignUp-btn">SIGN UP</button>
                    <button class="Login-btn">LOGIN</button>
                </div>
            </div>

</body>
</html>